




.page{
	margin:25px 0px;
	overflow: hidden;
}
#pagefy{
	float:right;
	margin-right:20px;
}
#pagefy ul li{
	float:left;
	margin-left:5px;
	padding:5px 0px;
	border:1px solid #428BCA;
}
#pagefy ul li a{
	padding:5px 10px;
	color:#428BCA;
}
#pagefy ul li a:hover{
	color:#428BCA;
	background-color:#EEEEEE;
}
 #fatie{
	float:left;
	margin-left:20px;
}
#fatie button{
	width:80px;
	height:30px;
	color:white;
	background-color:#428BCA;
	border:1px solid #428BCA;
	border-left:2px solid white;
	border-top:2px solid white;
	border-radius:5px;
	font-weight:bold;
	cursor:pointer;
	box-shadow:5px 5px 12px #ccc;
}